@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*:-webkit-scrollbar {
  display: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
div {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

p {
  display: block;
  padding-right: 1.1em;
  padding-left: 1.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* reusable style */

.btn {
  background-color: #3d3d3d;
  color: white;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 3.5rem;
  margin: 1rem auto;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
  border: none;
  opacity: 0.75;
}

.btn:hover {
  opacity: 1;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.miniheadtext {
  color: rgb(40, 40, 255);
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2%;
  padding-left: 2%;
}

.subheadtext {
  text-align: center;
  color: white;
}

.gigaheadtext {
  text-align: center;
}

.headtext {
  position: relative;
  width: 100%;
  font-size: 2rem;
  min-height: 1px;
  padding-right: 2%;
  padding-left: 2%;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2%;
  padding-left: 2%;
}

.space {
  padding-top: 8rem;
}

.space1 {
  padding-top: 3rem;
}

.footerarea {
  color: black;
}
/* Booking */

.dots {
  font-size: 1rem;
  margin-left: 0.2rem;
  opacity: 0.75;
}

.booking {
  background-color: gray;
}

.input-group {
  margin-bottom: 1.5rem;
}
.input-label {
  display: block;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input,
.options {
  outline: none;
  border: none;
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
  letter-spacing: 2px;
  resize: none;
}

.form-btn {
  margin-top: 2.4rem;
  cursor: pointer;
}

.btn-purple:hover {
  opacity: 0.75;
}

.btn-purple {
  background-color: #3d3d3d;
}

/* Featured Hotels */

.section-head {
  text-align: center;
  margin-bottom: 5rem;
}

.heading {
  display: block;
  font-size: 3rem;
  text-transform: uppercase;
}

.sub-heading {
  font: 1rem;
  font-family: "Courgette", cursive;
  font-weight: 300;
}

.grid {
  display: grid;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.hotel-img {
  width: 85%;
}

.hotel-name {
  font-size: 30px;
  margin-bottom: 20px;
}

.hotel-price {
  font-size: 18px;
  font-family: "monospace";
}

.hotel-rating {
  font-size: 24px;
  margin: 1rem;
  color: #ffd700;
}

.book-btn {
  font-size: 20px;
  opacity: 0.75;
}

.book-btn:hover {
  opacity: 1;
}

/* Offer */

.offer {
  outline: 1.5px solid #bbbbbb;
}

.offer-content {
  background-color: white;
  text-align: center;
  padding: 2rem 1rem;
  position: relative;
  overflow: hidden;
}

.discount {
  background-color: #ffd700;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  outline: 3px solid #ffd700;
  outline-offset: 0.2rem;
}

/* Food */

.left-box .food-img2 {
  width: 30%;
  padding-left: 1rem;
}

.left-box .food-img1 {
  width: 28%;
  padding-bottom: 1.5rem;
}

.right-box {
  flex-wrap: wrap;
  flex-direction: column;
}

.right-box .food-span {
  color: rgb(40, 40, 255);
  position: absolute;
  left: 50%;
}

.right-box .food-header {
  position: absolute;
  left: 50%;
  font-size: 1.8rem;
}

.right-box .food-p {
  position: absolute;
  left: 50%;
  padding-top: 10rem;
  font-size: 1rem;
}

.right-box .learn-btn {
  padding-top: 20rem;
}

/* Contact form */

input[type="text"],
select,
textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Media Query */

@media screen and (max-height: 600px) {
  .headtext {
    font-size: 1.8rem;
    min-height: 1px;
  }
  body {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media screen and (min-height: 786px) {
  .text {
    font-size: 32px;
    min-height: 0.5px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .miniheadtext {
    font-size: 42px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .headtext {
    font-size: 3rem;
    min-height: 2px;
    padding-left: 3%;
    padding-right: 3%;
  }
}
